body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gradient {
    width: 219px;
    height: 219px;
    background: linear-gradient(45deg, rgb(0, 110, 255), rgb(170, 0, 255), rgb(0, 110, 255));
    background-size: 200% 200%;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    animation: gradientAnimation 2.5s infinite,rotate 5s infinite;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#morphing-container{
    position: relative;
}
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    filter: invert(1);
    transition: filter 0.5s ease;
}
.overlay-image.white{
    filter: invert(0);
}

.overlay-image.rotate{
    animation: rotateOnce 0.5s ease;
}
@keyframes rotateOnce {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}