body {
    padding: 20px;
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 50px;
}
li {
    margin: 50px;
}
a {
    text-decoration: none;
    color: #1e90ff;
    font-size: 2rem;
    transition: color 0.3s;
}
a:hover {
    color: #ff6347;
}






